@use "sass:math";
@import "variables";

.task-form-card {
  background-color: var(--mat-sys-primary);
  box-shadow: $card-shadow;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: $spacing;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: math.div($spacing, 2);
}

.task-input {
  width: 100%;
  margin-bottom: math.div($spacing, 2);
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: math.div($spacing, 2);
  padding: math.div($spacing, 2);
}
