@use "sass:math";
@use "variables" as *;

mat-card {
  background-color: $background-card;
}

mat-card-content {
  padding-bottom: 0 !important;
}

.task-form-card {
  margin-left: math.div($spacing, 0.5);
  margin-right: math.div($spacing, 0.5);
  box-shadow: $card-shadow;
  border-radius: 0px 0px $spacing $spacing;
  padding: $spacing $spacing 0 $spacing;

  @media (max-width: 1024px) {
    margin-left: 24px;
    margin-right: 24px;
    padding: 8px 8px 0 8px;
  }

  @media (max-width: 768px) {
    margin: 0 4px;
  }
}

.task-buttons {
  display: flex;
  padding: math.div($spacing, 1);
  margin-bottom: 20px;
  justify-content: flex-end;

  .right-actions {
    display: flex;
    gap: math.div($spacing, 2);
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;

    .right-actions {
      width: 100%;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: $spacing;
}

.row-fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $spacing;

  .wide-input {
    flex: 2;
    min-width: 350px;
  }

  .small-input,
  .task-input {
    flex: 1;
    min-width: 200px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .wide-input,
    .small-input,
    .task-input {
      width: 100%;
    }
  }
}

.task-input {
  width: 100%;
}

@media (max-width: 768px) {
  .row-fields {
    flex-direction: column;

    .wide-input,
    .small-input,
    .task-input {
      width: 100%;
    }
  }
}
