<div class="container">
  <mat-toolbar color="primary">
    <img src="/assets/logo.svg" alt="Logo" class="logo" />
    <span>{{ title }}</span>
    <span class="spacer"></span>

    <!-- Mobile Menu Button -->
    <button mat-icon-button (click)="toggleMenu()" *ngIf="isSmallScreen">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Mobile Menu -->
    <div class="menu-container" *ngIf="isSmallScreen && isMenuOpen">
      <button mat-button (click)="onButtonClick()">
        <mat-icon>{{ isAuthPage ? "login" : "logout" }}</mat-icon>
        {{ buttonLabel }}
      </button>

      <button mat-button (click)="toggleTheme()">
        <mat-icon>brightness_6</mat-icon>
        {{ isAzureTheme ? "Dark Theme" : "White Theme" }}
      </button>

      <button mat-button *ngIf="!isAuthPage" (click)="toggleTaskForm()">
        <mat-icon>{{ showForm ? "visibility_off" : "visibility" }}</mat-icon>
        {{ showForm ? "Hide Form" : "Show Form" }}
      </button>
    </div>

    <!-- Desktop Buttons -->
    <ng-container *ngIf="!isSmallScreen">
      <button mat-button *ngIf="!isAuthPage" (click)="toggleTaskForm()">
        <mat-icon>{{ showForm ? "visibility_off" : "visibility" }}</mat-icon>
        {{ showForm ? "Hide Form" : "Show Form" }}
      </button>

      <button mat-button (click)="toggleTheme()">
        <mat-icon>brightness_6</mat-icon>
        {{ isAzureTheme ? "Dark Theme" : "White Theme" }}
      </button>

      <button mat-button (click)="onButtonClick()">
        <mat-icon>{{ isAuthPage ? "login" : "logout" }}</mat-icon>
        {{ buttonLabel }}
      </button>
    </ng-container>
  </mat-toolbar>
</div>

<mat-divider *ngIf="isAuthPage"></mat-divider>
