// SCSS Variables (Using CSS Variables for Runtime Switching)
$background-app: var(--background-app);
$background-card: var(--background-card);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-color-primary: var(--text-color-primary);
$text-color-secondary: var(--text-color-secondary);
$alert-text: var(--alert-text);
$success-text: var(--success-text);
$red: var(--red);
$orange: var(--orange);
$green: var(--green);
$card-shadow: var(--card-shadow);
$card-hover-shadow: var(--card-hover-shadow);
$menu-shadow: var(--menu-shadow);
$divider: var(--divider);
$divider-dimmed: var(--divider-dimmed);
$text-color-dimmed: var(--text-color-dimmed);
$completed-task-background-color: var(--completed-task-background-color);
$completed-task-box-shadow: var(--completed-task-box-shadow);
$completed-task-title: var(--completed-task-title);
$pinned-task: var(--pinned-task);
$background-footer: var(--background-footer);

// Layout
$spacing: 16px;
$radius-bottom: 0px 0px 12px 12px;

// Default Theme (Cyan & Orange)
:root {
  --background-app: #101414;
  --background-card: #1a1c1c;
  --primary-color: #00dddd;
  --secondary-color: #ff9800;
  --text-color-primary: #dde5e4;
  --text-color-secondary: #889392;
  --alert-text: #ffb4ab;
  --success-text: #75ce74;
  --red: #f15152;
  --orange: #eab347;
  --green: #5fa43e;
  --card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --card-hover-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
  --menu-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --divider: #323d3b;
  --divider-dimmed: #191d1d;
  --text-color-dimmed: gray;
  --completed-task-background-color: rgba(30, 30, 30, 0.2);
  --completed-task-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  --completed-task-title: rgba(255, 255, 255, 0.6);
  --pinned-task: 2px dashed #323d3b;
  --background-footer: #1a1c1c;
}

// Azure & Blue Theme
.azure-blue-theme {
  --background-app: #faf9fd;
  --background-card: #ffffff;
  --primary-color: #005cbb;
  --secondary-color: #2196f3;
  --text-color-primary: #45474e;
  --text-color-secondary: #999c9d;
  --alert-text: #bd1a16;
  --success-text: #43a047;
  --red: #e53935;
  --orange: #f4ac05;
  --green: #43a047;
  --card-shadow: 0px 4px 8px rgba(50, 50, 50, 0.1);
  --card-hover-shadow: 0px 8px 16px rgba(150, 150, 150, 0.3);
  --menu-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --divider: #c5c6cf;
  --divider-dimmed: rgb(229, 233, 233);
  --text-color-dimmed: rgb(198, 198, 198);
  --completed-task-background-color: rgba(255, 255, 255, 0.6);
  --completed-task-box-shadow: 0px 4px 8px rgba(200, 200, 200, 0.2) !important;
  --completed-task-title: rgba(91, 91, 91, 0.6);
  --pinned-task: 2px dashed #c5c6cf;
  --background-footer: #f0f0f4;
}
