@use "sass:math";
@import "variables";

mat-card {
  background-color: $background-card;
}

mat-card-content {
  margin-bottom: math.div($spacing, 1);
  font-size: 14px;
  color: $text-color-secondary;
  line-height: 1.4;
  padding: math.div($spacing, 2);
  white-space: pre-line;
}

mat-divider {
  border-top-color: $divider;
}

.container {
  margin: 0 16px;

  @media (max-width: 1024px) {
    margin: 0 8px;
  }

  @media (max-width: 768) {
    margin: 0 4px;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}

.loading-text {
  margin-top: 20px;
  font-size: 16px;
  color: $text-color-secondary;
}

.progress-bar-wrapper {
  mat-progress-bar {
    width: 100%;
    display: block;
  }
}

.task-title {
  color: $primary-color;
  padding: math.div($spacing, 2);
  font-weight: 600;
}

.task-subtitle {
  margin-top: math.div($spacing, 2);
  padding: math.div($spacing, 2);
  color: $text-color-primary;

  .overdue {
    color: $red;
    font-weight: bold;
  }
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: $spacing;
  padding: $spacing;
}

.no-tasks {
  text-align: center;
  font-size: 18px;
  color: $text-color-dimmed;
  margin-top: 20px;
}

.completed-task {
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  background-color: $completed-task-background-color;
  box-shadow: $completed-task-box-shadow;
  opacity: 0.8;
}

.completed-task .task-title {
  text-decoration: line-through;
  color: $completed-task-title;
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
}

.completed-task .task-subtitle {
  color: $completed-task-title;
  transition: color 0.5s ease-in-out;
}

.task-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacing;
  transition: box-shadow 0.3s;
  box-shadow: $card-shadow;

  &:hover {
    box-shadow: $card-hover-shadow;
  }

  &.pinned-task {
    border: $pinned-task;
  }

  &.priority-Low {
    border-left: 2px solid $green;
  }
  &.priority-Medium {
    border-left: 2px solid $orange;
  }
  &.priority-High {
    border-left: 2px solid $red;
  }

  mat-card-content {
    flex: 1 1 auto;
  }

  .divider,
  .task-handler {
    margin-top: auto;
  }
}

.divider-pagi {
  border-top: 1px solid $divider-dimmed;
  margin: 8px 32px 0 32px;
}

.task-handler {
  display: flex;
  padding: 0;
  align-items: center;

  .spacer {
    flex: 1 1 auto;
  }
}

.delete-text {
  color: $alert-text !important;
}

.task-title {
  color: $primary-color;
  padding: math.div($spacing, 2);
  font-weight: 600;
}

.paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: math.div($spacing, 2);
}

.clear-button {
  margin-right: math.div($spacing, 2);
}

::ng-deep .custom-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.85) !important;
}
