<app-header
  [showForm]="showForm"
  (toggleForm)="toggleFormVisibility()"
  (clearAllClicked)="openDeleteConfirmationDialog()"
  (loginClicked)="onLoginClicked()"
></app-header>

<div class="progress-bar-wrapper">
  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
</div>

<app-task-form
  *ngIf="showForm"
  [taskToEdit]="taskToEdit"
  (taskAdded)="handleTaskAdded($event)"
  (taskUpdated)="handleTaskUpdated($event)"
></app-task-form>

<app-task-controls
  [tasks]="tasks"
  (filteredTasksChange)="onFilteredTasksChange($event)"
>
</app-task-controls>

<div class="task-list" *ngIf="filteredTasks.length > 0; else noTasks">
  <mat-card
    *ngFor="let task of filteredTasks"
    class="task-card priority-{{ task.priority }} {{
      task.pinned ? 'pinned-task' : ''
    }}"
  >
    <mat-card-title class="task-title">{{ task.title }}</mat-card-title>
    <mat-card-subtitle class="task-subtitle">
      <span [class.overdue]="isOverdue(task)">
        Deadline:
        {{
          task.deadline ? (task.deadline | date : "shortDate") : "No deadline"
        }}
      </span>
      | Created: {{ task.createdAt | date : "shortDate" }}
    </mat-card-subtitle>

    <mat-card-content>{{ task.description }}</mat-card-content>

    <mat-divider class="divider"></mat-divider>
    <mat-card-actions class="task-handler">
      <mat-checkbox
        [checked]="task.completed"
        (change)="toggleTaskCompletion(task)"
      >
        Completed
      </mat-checkbox>
      <span class="spacer"></span>

      <button mat-button (click)="togglePin(task)">
        {{ task.pinned ? "Unpin" : "Pin" }}
      </button>
      <button mat-button color="primary" (click)="startEdit(task)">Edit</button>
      <button mat-button color="warn" (click)="deleteTask(task.id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="paginator-container" *ngIf="tasks.length > 5">
  <mat-paginator
    [length]="filteredTasksOriginal.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[6, 12, 24]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>

  <button
    class="clear-button"
    mat-button
    color="warn"
    (click)="openDeleteConfirmationDialog()"
  >
    Clear All
  </button>
</div>

<ng-template #noTasks>
  <p class="no-tasks">No tasks available.</p>
</ng-template>
