mat-progress-bar {
  margin-bottom: 4px;
}

mat-card-content {
  margin-top: 8px;
  font-size: 14px;
  color: #889392;
  line-height: 1.4;
  padding: 8px;
  white-space: pre-line; // Keeps line breaks
}

// mat-card-actions {
//   white-space: pre-line; // Keeps line breaks
// }

.spacer {
  flex: 1 1 auto;
}

.task-title {
  color: cyan;
  padding: 8px;
}

.task-subtitle {
  padding: 8px;
}

.task-list {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 16px;
  padding: 16px;
}

.no-tasks {
  text-align: center;
  font-size: 18px;
  color: gray;
  margin-top: 20px;
}

.controls {
  display: flex;
  padding: 16px;
  gap: 16px;
  margin-top: 30px;
}

.control-item {
  min-width: 200px;
}

.task-handler {
  padding: 0;
  margin-top: 8px;
}

.divider {
  margin-top: 10px;
}

.task-card {
  padding: 16px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.5);
  }
}
