<app-header></app-header>

<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-content>
      <mat-form-field appearance="outline" class="auth-input">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="auth-input">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="auth-input">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" type="password" required />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="auth-button"
        (click)="onRegister()"
      >
        Register
      </button>

      <p class="auth-text">
        Already have an account?
        <a routerLink="/login">Login here</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
