<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-content>
      <h3 class="auth-title">
        Enter your email address, and we'll send you a new password.
      </h3>

      <form #forgotPasswordForm="ngForm">
        <mat-form-field appearance="outline" class="auth-input">
          <mat-label>Email</mat-label>
          <input
            matInput
            [(ngModel)]="email"
            name="email"
            type="email"
            required
            email
            #emailInput="ngModel"
            (keypress)="onKeyPress($event)"
          />
          <mat-error *ngIf="emailInput.invalid && emailInput.touched">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          class="auth-button"
          (click)="onResetPassword()"
          [disabled]="forgotPasswordForm.invalid || loading"
        >
          <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
          <span *ngIf="!loading">Send New Password</span>
        </button>

        <p class="auth-text error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>

        <p class="auth-text" *ngIf="!errorMessage && !successMessage">
          Remember your password?
          <a routerLink="/login">Login here</a>
        </p>

        <p class="auth-text success-message" *ngIf="successMessage">
          {{ successMessage }}
          <a routerLink="/login">Login here</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
